.container {
	padding: 5%; 
}
.jumbotron {
	background-color: #e5f4ff;
}

/* 'home' button */

a.home {
    position: fixed;
    bottom: 94%;
}

/* table header */

div.th {
    font-weight: 500;
}

/* Align bullet points left */

ul {
 	padding-left: 0;   
 	font-weight: 300;
}
ul li {
 	list-style-position: inside;
}

/* Format table for addClient form */

label {
    padding-top: 5%;
}

button {
	margin-top: 13px;
}

input.form-control {
    min-width: 40%;
}

/* Home page */

button.home {
    margin-top: 22px;
}

/* Text formatting */

.row {
	vertical-align: center;
}

hr {
	margin-top: 0px;
}

.jumbotron p {
	font-size: 14px;
	font-weight: 300;
}

.jumbotron .bold {
	font-weight: bold;
}

.jumbotron #title {
	font-size: 50px;
}

.jumbotron #subtitle {
    font-size: 20px;
}