<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Medical Details</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="container">


        <div class="jumbotron">

            <p id="title" class="bold">Home</p>

            <hr />

            <p id="subtitle" class="bold">All Clients</p>

            <div class="row">
                <div class="col-sm-3 th">NHS Number</div>
                <div class="col-sm-9 th">Client Name</div>
            </div>
            <div th:each="client,iterStat : ${clients}">
                <a th:href="@{/} + ${client.nHSNumber}">
                    <div class="row">
                        <div class="col-sm-3">
                            <span th:text="${client.nHSNumber}"/>
                        </div>
                        <div class="col-sm-9">
                            <span th:text="${client.name}"/>
                        </div>
                    </div>
                </a>
            </div>

            <form th:action="@{/add}" method="get">
                <button type="submit" class="btn btn-primary home">Add New Client</button>
            </form>


        </div>
    </div>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>